.date {
 text-align: right;
 margin-top:0;
 font-style: italic; 
 font-size: 20px;
}

.noLove {
    margin-left:1%;
    
}
.btn {
    margin-top:1%;
}

h1 {
    margin-top:-2%;
    margin-bottom: -1%;
}